.sb-theme-list {
  display: flex;
  flex-direction: column;
  padding: var(--sb-padding-3);
  gap: 6px;
  list-style: none;
  box-shadow: 
    0 3px 12px 0 rgba(0,0,0,.12), 
    0 0.5px 1.5px 0 rgba(0,0,0,.08);
  & .sb-theme-list__item {
    padding: var(--sb-padding-2) var(--sb-padding-4);
    color: var(--sb-default-color);
    background-color: var(--sb-default-bg-color);
    border-radius: var(--sb-border-radius-1);
    cursor: pointer;
    transition: all 0.2s;

    &.active {
      color: var(--sb-active-color);
      background-color: var(--sb-active-bg-color);
    }

    &:hover:not(.active) {
      color: var(--sb-hover-color);
      background-color: var(--sb-hover-bg-color);
    }
    
    &.draggable {
      cursor: move;
    }

    &.drag-move {
      transition: .5s;
    }
  }
}
