// @import "../../theme-chalk/src/common/bem.scss";
@import "../common/bem.scss";

@include block(text) {
  display: block;
  font-size: var(--text-font-size, 16px);
  line-height: var(--text-line-height, 1.4);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--font-weight, none);
  text-decoration: var(--text-decoration, none);
  text-align: var(--text-align, left);

  &[data-inline] {
    display: inline;
  }

  &[data-inherit] {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  &[data-gradient] {
    background-image: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &[data-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--text-line-clamp);
    -webkit-box-orient: vertical;
  }
}