@import "../common/bem.scss";

$prefix: 'sb-selector';

.#{$prefix}__wrap {
  position: relative;
  font: 14px / 22px PingFangSC-Regular;
  letter-spacing: 0;
  --tag-prefix-display: none;
  --select-input-focus-border-color: transparent;
  --select-wrap-max-width: 396px;
  --select-input-border-color: transparent;
  --selected-item-bg-color: #E8F5FF;

  background: #F5F7FA;
  border-radius: 3px;
  cursor: pointer;

  &.fit-content {
    width: fit-content;
    .#{$prefix} {
      width: fit-content;
      .el-input:not(.#{$prefix}__popper-input) {
        width: fit-content;
        .el-input__inner {
          width: calc(var(--select-input-inner-width) + var(--select-trigger-padding-left) + 30px);
        }
      }
    }
  }

  @include when(disabled) {
    background-color: #F3F3F3;

    @include block(selector) {
      @include element(trigger-suffix) {
        display: none;
      }
    }
  }

  .#{$prefix} {
    width: 100%;

    .el-select__input {
      margin-left: var(--select-input-margin-left);
    }

    .el-input.is-focus .el-input__inner {
      border-color: var(--select-input-focus-border-color);
    }
    

    .el-input__inner {
      background-color: transparent;
      border-color: var(--select-input-border-color);
    

      &:focus {
        border-color: var(--select-input-focus-border-color);
      }
    }

    .el-input__prefix {
      left: 6px;
    }

    .el-input__suffix {
      display: none;
    }
    .el-select__tags {
      width: calc(calc(100%) - var(--select-trigger-padding-left) - 20px) !important;
      padding-left: var(--select-trigger-padding-left);
      display: var(--select-tags-display);

      .el-tag {
        color: rgba(0, 0, 0, 0.9);
        padding: 1px 6px;
        border-radius: 3px;
        max-width: calc(calc(100%) - 30px);

        &::before {
          content: '';
          width: 16px;
          height: 16px;
          margin-right: 6px;
          display: var(--tag-prefix-display);
          background: center / contain no-repeat;
          background-image: var(--tag-prefix-image);
        }
      }
      
      .el-tag__close.el-icon-close {
        background-color: transparent;
      }
    }

    .el-input__inner {
      padding-left: var(--select-trigger-padding-left);
    }

    .el-input__prefix {
      display: flex;
      align-items: center;
    }
  }
  
  &:hover {
    .#{$prefix}__trigger-suffix {
      opacity: 1;
    }
  }

  .#{$prefix}__trigger-prefix {
    font-size: 14px;

  }

  .#{$prefix}__trigger-suffix {
    @include center;
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    opacity: 0.3;
    color: #BDBDBD;
    pointer-events: none;
  }

  .#{$prefix}__selected-text {
    position: absolute;
    color: rgba(0, 0, 0, 0.9);
    max-width: calc(var(--select-wrap-max-width) - var(--select-trigger-padding-left) - 20px);
    left: var(--select-trigger-padding-left);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    @include ellipsis; 
  }

}

.#{$prefix}__popper {
  font: 14px / 22px PingFangSC-Regular;
  letter-spacing: 0;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.90);

  @include when(not-in-body) {
    left: 0px !important;
  }
  
  &.fixed-width {
    width: var(--select-popper-width) !important;
    min-width: var(--select-popper-width) !important;
  }
  
  &.el-popper[x-placement^=bottom] {
    margin-top: 2px;
  }

  .el-scrollbar__wrap {
    max-height: 100%;
    overflow: visible;
    margin: 0 !important;
  }
  .el-select-dropdown__list {
    padding-top: 0;

    .#{$prefix}__popper-input {
      height: 32px;

      .el-input__inner {
        width: calc(calc(100%) - 38px);
        padding-left: 38px;
        padding-right: 0;
        height: 100% !important;
        cursor: text;
      }

      .el-input__prefix,
      .el-input__suffix,
      .el-input__suffix-inner {
        display: flex;
        align-items: center;
      }

      .el-input__prefix {
        left: 14px;
      }
      .el-input__suffix {
        right: 14px;
      }
      .#{$prefix}__popper-input-suffix {
        cursor: pointer;
      }
    }
  }

  .#{$prefix}__popper-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(231,231,231,1);;

    .#{$prefix}__popper-input {
      height: 32px;
  
      .el-input__inner {
        width: calc(calc(100%) - 38px);
        padding-left: 38px;
        padding-right: 0;
        height: 100% !important;
        cursor: text;
      }
  
      .el-input__prefix,
      .el-input__suffix,
      .el-input__suffix-inner {
        display: flex;
        align-items: center;
      }
  
      .el-input__prefix {
        left: 14px;
      }
      .el-input__suffix {
        right: 14px;
      }
      .#{$prefix}__popper-input-suffix {
        cursor: pointer;
      }
    }
    
    .el-input__inner, 
    .el-input__inner:focus {
      border: none;
    }
  }

  
  .#{$prefix}__selected {

    .#{$prefix}__selected-header {
      box-sizing: border-box;
      width: 100%;
      padding: 7px 12px;
      display: inline-flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(231,231,231,1);
      color: rgba(0, 0, 0, 0.6);

      @include when(empty) {
        color: rgba(0, 0, 0, 0.26);
      }

      .#{$prefix}__selected-count {

      }
      
      .#{$prefix}__selected-clear-btn {
        position: absolute;
        right: 12px;
        color: #1974FF;
        cursor: pointer;
      }
    }
  }
  .#{$prefix}__options-label {
    display: inline-block;
    box-sizing: border-box;
    width: calc(calc(100%) - 12px);
    padding: 7px 0px;
    margin-left: 12px;
    color: rgba(0,0,0,0.40);
    border-bottom: 1px solid rgba(231,231,231,1);
  }
  .el-select-dropdown__item.selected::after {
    display: none;
  }
  .popper__arrow {
    display: none;
  }

  .#{$prefix}__select-all {
    box-sizing: border-box;
    height: 28px;
    margin: 0 6px;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;

    &.is-not-selected-all {
      color: #1974FF;
      background-color: #E8F5FF ;
    }

    &:not(.is-not-selected-all):hover {
      background-color: #f3f3f3;
    }
  }
  
  .#{$prefix}__options-body {
    max-height: 320px;
    overflow-y: scroll;
    padding-top: 6px;

    @include when(selected) {
      max-height: 170px;
    }

    .el-tree {
      padding-left: 6px;
    }

    .el-select-dropdown__item  {
      width: calc(var(--select-wrap-width) - 6px);
      max-width: calc(var(--select-wrap-max-width) - 6px);
      padding-left: 6px;
      padding-right: 2px;
      height: auto;
      margin-top: 2px;

      display: flex;
      align-items: center;

      .#{$prefix}__option-item-prefix {
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }

      .#{$prefix}__option-item-label {
        padding: 2px 8px;
        background-color: #E8F5FF;
        border-radius: 3px;
        color: #1974FF;
      }

      .#{$prefix}__option-item-sub {
        display: block; 
        font-size: 13px;
        color: rgba(0, 0, 0, 0.40);
        padding-bottom: 3px;
        @include ellipsis;
      }

      &.is-radio {

        >span {
          width: 100%;
          display: flex;
          align-items: baseline;
          padding: 3px 8px;
          box-sizing: border-box;
          height: auto;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.90);

          span {
            @include ellipsis;
          }
        }

        &.hover:not(.selected):not(.is-disabled),
        &:hover:not(.selected):not(.is-disabled) {
          span {
            background-color: #f3f3f3;
          }
        }

        &.selected {
          span {
            background-color: #E8F5FF;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.90);
          }
        }
      }

      @include when(disabled) {
        span {
          color: rgba(0,0,0,0.26);
        }
      }
      
      &.selected {
        .el-checkbox {
          background-color: var(--selected-item-bg-color);
        }
      }

      &.hover,
      &:hover {
        background-color: transparent;

        &:not(.selected) {
          .el-checkbox {
            background-color: #f3f3f3;
          }
        }
      }

      .el-checkbox {
        width: 100%;
        height: 100%;
        line-height: 28px;
        padding-left: 8px;
        padding-right: 8px;
        color: rgba(0, 0, 0, 0.90);
        border-radius: 3px;
        @include ellipsis;
      }


      .el-checkbox__label {
        display: inline;
        padding-left: 8px;
      }
      .el-checkbox__input.is-checked + .el-checkbox__label {
        color: rgba(0, 0, 0, 0.90);
      }
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
    }
    &::-webkit-scrollbar{
      width: 4px;
    }
  }
  
  .el-scrollbar__bar.is-vertical,
  .el-scrollbar__bar.is-horizontal {
    display: none;
  }

  .#{$prefix}__loading-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 6px;
    padding-left: 14px;
    color: #1974FF;

    .#{$prefix}__loading-icon {
      animation: rotate 1s linear infinite;
    }
  }
  
  .#{$prefix}__empty {
    padding-left: 14px;
    color: rgba(0,0,0,0.40);
  }
  
  .#{$prefix}__empty-wrapper {
    padding-bottom: 6px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}