// @import "../../theme-chalk/src/common/bem.scss"; 
@import "../common/bem.scss";

@include block(code) { 
  font-family: Menlo, Monaco, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  line-height: 18.6px;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  margin: 0;
  overflow: auto;
  background-color: var(--code-background-color);
  color: var(--code-color);

  &[data-block] {
    padding: 10px;
  }
}