@import "../common/bem.scss";

@include block(title) {
  margin: 0;
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;;
  text-wrap: var(--title-text-wrap);

  &[data-with-line-clamp] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--title-line-clamp);
    -webkit-box-orient: vertical;
  }
}