$namespaceYt: "sb" !default;
$blockSeparator: "-" !default;
$elementSeparator: "__" !default;
$modifyerSeparator: "--" !default;
$statePrefix: "is-" !default;
@mixin block($block) {
  $temp: $namespaceYt + $blockSeparator + $block;
  .#{$temp} {
    @content;
  }
}

@mixin element($el) {
  $selector: &;
  $temp: $selector + $elementSeparator + $el;
  @at-root {
    #{$temp} {
      @content;
    }
  }
}

@mixin modifier($modify) {
  $temp: & + $modifyerSeparator + $modify;
  @at-root {
    #{$temp} {
      @content;
    }
  }
}

@mixin when($state) {
  @at-root {
    &.#{$statePrefix + $state} {
      @content;
    }
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}