:root {
  // 色板
  --sb-brand-color-1: #e8f5ff;
  --sb-brand-color-2: #bfe1ff;
  --sb-brand-color-3: #95caff;
  --sb-brand-color-4: #8eabff;
  --sb-brand-color-5: #618dff;
  --sb-brand-color-6: #4294ff;
  --sb-brand-color-7: #1974ff;
  --sb-brand-color-8: #003cab;
  --sb-brand-color-9: #002a7c;
  --sb-brand-color-10: #001a57;
  --sb-warning-color-1: #fff1e9;
  --sb-warning-color-2: #ffd9c2;
  --sb-warning-color-3: #ffb98c;
  --sb-warning-color-4: #fa9550;
  --sb-warning-color-5: #e37318;
  --sb-warning-color-6: #be5a00;
  --sb-warning-color-7: #954500;
  --sb-warning-color-8: #713300;
  --sb-warning-color-9: #532300;
  --sb-warning-color-10: #3b1700;
  --sb-error-color-1: #fff0ed;
  --sb-error-color-2: #ffd8d2;
  --sb-error-color-3: #ffb9b0;
  --sb-error-color-4: #ff9285;
  --sb-error-color-5: #f6685d;
  --sb-error-color-6: #d54941;
  --sb-error-color-7: #ad352f;
  --sb-error-color-8: #881f1c;
  --sb-error-color-9: #68070a;
  --sb-error-color-10: #490002;
  --sb-success-color-1: #e3f9e9;
  --sb-success-color-2: #c6f3d7;
  --sb-success-color-3: #92dab2;
  --sb-success-color-4: #56c08d;
  --sb-success-color-5: #2ba471;
  --sb-success-color-6: #008858;
  --sb-success-color-7: #006c45;
  --sb-success-color-8: #005334;
  --sb-success-color-9: #003b23;
  --sb-success-color-10: #002515;
  --sb-gray-color-1: #f3f3f3;
  --sb-gray-color-2: #eee;
  --sb-gray-color-3: #e7e7e7;
  --sb-gray-color-4: #dcdcdc;
  --sb-gray-color-5: #c5c5c5;
  --sb-gray-color-6: #a6a6a6;
  --sb-gray-color-7: #8b8b8b;
  --sb-gray-color-8: #777;
  --sb-gray-color-9: #5e5e5e;
  --sb-gray-color-10: #4b4b4b;
  --sb-gray-color-11: #393939;
  --sb-gray-color-12: #2c2c2c;
  --sb-gray-color-13: #242424;
  --sb-gray-color-14: #181818;

  --sb-white-color: #fff;
  --sb-black-color: #000;
}
