// border-radius相关 token
:root {
    --sb-radius-small: 2px;
    --sb-radius-default: 3px;
    --sb-radius-medium: 6px;
    --sb-radius-large: 9px;
    --sb-radius-extraLarge: 12px;
    --sb-radius-round: 999px;
    --sb-radius-circle: 50%;
}