// size/margin/padding相关 token
:root {
    --sb-size-1: 2px;
    --sb-size-2: 4px;
    --sb-size-3: 6px;
    --sb-size-4: 8px;
    --sb-size-5: 12px;
    --sb-size-6: 16px;
    --sb-size-7: 20px;
    --sb-size-8: 24px;
    --sb-size-9: 28px;
    --sb-size-10: 32px;
    --sb-size-11: 36px;
    --sb-size-12: 40px;
    --sb-size-13: 48px;
    --sb-size-14: 56px;
    --sb-size-15: 64px;
    --sb-size-16: 72px;
}
