@import "./light.scss";
@import "./size.scss";
@import "./radius.scss";

$--sb-brand-color-1: var(--sb-brand-color-1);
$--sb-brand-color-2: var(--sb-brand-color-2);
$--sb-brand-color-3: var(--sb-brand-color-3);
$--sb-brand-color-4: var(--sb-brand-color-4);
$--sb-brand-color-5: var(--sb-brand-color-5);
$--sb-brand-color-6: var(--sb-brand-color-6);
$--sb-brand-color-7: var(--sb-brand-color-7);
$--sb-brand-color-8: var(--sb-brand-color-8);
$--sb-brand-color-9: var(--sb-brand-color-9);
$--sb-brand-color-10: var(--sb-brand-color-10);
$--sb-warning-color-1: var(--sb-warning-color-1);
$--sb-warning-color-2: var(--sb-warning-color-2);
$--sb-warning-color-3: var(--sb-warning-color-3);
$--sb-warning-color-4: var(--sb-warning-color-4);
$--sb-warning-color-5: var(--sb-warning-color-5);
$--sb-warning-color-6: var(--sb-warning-color-6);
$--sb-warning-color-7: var(--sb-warning-color-7);
$--sb-warning-color-8: var(--sb-warning-color-8);
$--sb-warning-color-9: var(--sb-warning-color-9);
$--sb-warning-color-10: var(--sb-warning-color-10);
$--sb-error-color-1: var(--sb-error-color-1);
$--sb-error-color-2: var(--sb-error-color-2);
$--sb-error-color-3: var(--sb-error-color-3);
$--sb-error-color-4: var(--sb-error-color-4);
$--sb-error-color-5: var(--sb-error-color-5);
$--sb-error-color-6: var(--sb-error-color-6);
$--sb-error-color-7: var(--sb-error-color-7);
$--sb-error-color-8: var(--sb-error-color-8);
$--sb-error-color-9: var(--sb-error-color-9);
$--sb-error-color-10: var(--sb-error-color-10);
$--sb-success-color-1: var(--sb-success-color-1);
$--sb-success-color-2: var(--sb-success-color-2);
$--sb-success-color-3: var(--sb-success-color-3);
$--sb-success-color-4: var(--sb-success-color-4);
$--sb-success-color-5: var(--sb-success-color-5);
$--sb-success-color-6: var(--sb-success-color-6);
$--sb-success-color-7: var(--sb-success-color-7);
$--sb-success-color-8: var(--sb-success-color-8);
$--sb-success-color-9: var(--sb-success-color-9);
$--sb-success-color-10: var(--sb-success-color-10);
$--sb-gray-color-1: var(--sb-gray-color-1);
$--sb-gray-color-2: var(--sb-gray-color-2);
$--sb-gray-color-3: var(--sb-gray-color-3);
$--sb-gray-color-4: var(--sb-gray-color-4);
$--sb-gray-color-5: var(--sb-gray-color-5);
$--sb-gray-color-6: var(--sb-gray-color-6);
$--sb-gray-color-7: var(--sb-gray-color-7);
$--sb-gray-color-8: var(--sb-gray-color-8);
$--sb-gray-color-9: var(--sb-gray-color-9);
$--sb-gray-color-10: var(--sb-gray-color-10);
$--sb-gray-color-11: var(--sb-gray-color-11);
$--sb-gray-color-12: var(--sb-gray-color-12);
$--sb-gray-color-13: var(--sb-gray-color-13);
$--sb-gray-color-14: var(--sb-gray-color-14);

$--sb-white-color: var(--sb-white-color);
$--sb-black-color: var(--sb-black-color);

// 文字 & 图标 颜色
$--sb-font-white-1: rgba(255, 255, 255, 90%);
$--sb-font-white-2: rgba(255, 255, 255, 55%);
$--sb-font-white-3: rgba(255, 255, 255, 35%);
$--sb-font-white-4: rgba(255, 255, 255, 22%);
$--sb-font-gray-1: rgba(0, 0, 0, 90%);
$--sb-font-gray-2: rgba(0, 0, 0, 60%);
$--sb-font-gray-3: rgba(0, 0, 0, 40%);
$--sb-font-gray-4: rgba(0, 0, 0, 26%);

// 基础颜色
$--sb-brand-color: $--sb-brand-color-7; // 色彩-品牌-可操作
$--sb-warning-color: $--sb-warning-color-5; // 色彩-功能-警告
$--sb-error-color: $--sb-error-color-6; // 色彩-功能-失败
$--sb-success-color: $--sb-success-color-5; // 色彩-功能-成功

// 基础颜色的扩展 用于 hover / 聚焦 / 禁用 / 点击 等状态
$--sb-brand-color-hover: $--sb-brand-color-6; // hover态
$--sb-brand-color-focus: $--sb-brand-color-2; // focus态，包括鼠标和键盘
$--sb-brand-color-active: $--sb-brand-color-8; // 点击态
$--sb-brand-color-disabled: $--sb-brand-color-3; // 禁用态
$--sb-brand-color-light: $--sb-brand-color-1; // 浅色的选中态
$--sb-brand-color-light-hover: $--sb-brand-color-2;

// 警告色扩展
$--sb-warning-color-hover: $--sb-warning-color-4;
$--sb-warning-color-focus: $--sb-warning-color-2;
$--sb-warning-color-active: $--sb-warning-color-6;
$--sb-warning-color-disabled: $--sb-warning-color-3;
$--sb-warning-color-light: $--sb-warning-color-1;
$--sb-warning-color-light-hover: $--sb-warning-color-2;

// 失败/错误色扩展
$--sb-error-color-hover: $--sb-error-color-5;
$--sb-error-color-focus: $--sb-error-color-2;
$--sb-error-color-active: $--sb-error-color-7;
$--sb-error-color-disabled: $--sb-error-color-3;
$--sb-error-color-light: $--sb-error-color-1;
$--sb-error-color-light-hover: $--sb-error-color-2;

// 成功色扩展
$--sb-success-color-hover: $--sb-success-color-4;
$--sb-success-color-focus: $--sb-success-color-2;
$--sb-success-color-active: $--sb-success-color-6;
$--sb-success-color-disabled: $--sb-success-color-3;
$--sb-success-color-light: $--sb-success-color-1;
$--sb-success-color-light-hover: $--sb-success-color-2;

// 遮罩
$--sb-mask-active: rgba(0, 0, 0, 60%); // 遮罩-弹出
$--sb-mask-disabled: rgba(255, 255, 255, 60%); // 遮罩-禁用

// 背景色
$--sb-bg-color-page: $--sb-gray-color-2; // 色彩 - page
$--sb-bg-color-container: $--sb-white-color; // 色彩 - 容器
$--sb-bg-color-container-hover: $--sb-gray-color-1; // 色彩 - 容器 - hover
$--sb-bg-color-container-active: $--sb-gray-color-3; // 色彩 - 容器 - active
$--sb-bg-color-container-select: $--sb-white-color; // 色彩 - 容器 - select
$--sb-bg-color-secondarycontainer: $--sb-gray-color-1; // 色彩 - 次级容器
$--sb-bg-color-secondarycontainer-hover: $--sb-gray-color-2; // 色彩 - 次级容器 - hover
$--sb-bg-color-secondarycontainer-active: $--sb-gray-color-4; // 色彩 - 次级容器 - active
$--sb-bg-color-component: $--sb-gray-color-3; // 色彩 - 组件
$--sb-bg-color-component-hover: $--sb-gray-color-4; // 色彩 - 组件 - hover
$--sb-bg-color-component-active: $--sb-gray-color-6; // 色彩 - 组件 - active
$--sb-bg-color-secondarycomponent: $--sb-gray-color-4; // 色彩 - 次级组件
$--sb-bg-color-secondarycomponent-hover: $--sb-gray-color-5; // 色彩 - 次级组件 - hover
$--sb-bg-color-secondarycomponent-active: $--sb-gray-color-6; // 色彩 - 次级组件 - active
$--sb-bg-color-component-disabled: $--sb-gray-color-2; // 色彩 - 组件 - disabled

// 特殊组件背景色，目前只用于 button、input 组件多主题场景，浅色主题下固定为白色，深色主题下为 transparent 适配背景颜色
$--sb-bg-color-specialcomponent: $--sb-white-color;

// 文本颜色
$--sb-text-color-primary: $--sb-font-gray-1; // 色彩-文字-主要
$--sb-text-color-secondary: $--sb-font-gray-2; // 色彩-文字-次要
$--sb-text-color-placeholder: $--sb-font-gray-3; // 色彩-文字-占位符/说明
$--sb-text-color-disabled: $--sb-font-gray-4; // 色彩-文字-禁用
$--sb-text-color-anti: $--sb-white-color; // 色彩-文字-反色
$--sb-text-color-brand: $--sb-brand-color-7; // 色彩-文字-品牌
$--sb-text-color-link: $--sb-brand-color-7; // 色彩-文字-链接

// 分割线
$--sb-border-level-1-color: $--sb-gray-color-3;
$--sb-component-stroke: $--sb-gray-color-3;
// 边框
$--sb-border-level-2-color: $--sb-gray-color-4;
$--sb-component-border: $--sb-gray-color-4;

// 基础/下层 投影 hover 使用的组件包括：表格 /
$--sb-shadow-1: 0 1px 10px rgba(0, 0, 0, 5%), 0 4px 5px rgba(0, 0, 0, 8%),
  0 2px 4px -1px rgba(0, 0, 0, 12%);
// 中层投影 下拉 使用的组件包括：下拉菜单 / 气泡确认框 / 选择器 /
$--sb-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 5%),
  0 8px 10px 1px rgba(0, 0, 0, 6%), 0 5px 5px -3px rgba(0, 0, 0, 10%);
// 上层投影（警示/弹窗）使用的组件包括：全局提示 / 消息通知
$--sb-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 5%),
  0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);

// 内投影 用于弹窗类组件（气泡确认框 / 全局提示 / 消息通知）的内描边
$--sb-shadow-inset-top: inset 0 0.5px 0 #dcdcdc;
$--sb-shadow-inset-right: inset 0.5px 0 0 #dcdcdc;
$--sb-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc;
$--sb-shadow-inset-left: inset -0.5px 0 0 #dcdcdc;
$--sb-shadow-inset: $--sb-shadow-inset-top, $--sb-shadow-inset-right,
  $--sb-shadow-inset-bottom, $--sb-shadow-inset-left;

// 融合阴影
$--sb-shadow-2-inset: $--sb-shadow-2, $--sb-shadow-inset;
$--sb-shadow-3-inset: $--sb-shadow-3, $--sb-shadow-inset;

// table 特定阴影
$--sb-table-shadow-color: rgba(0, 0, 0, 8%);

// 滚动条颜色
$--sb-scrollbar-color: rgba(0, 0, 0, 10%);
// 滚动条悬浮颜色（ hover ）
$--sb-scrollbar-hover-color: rgba(0, 0, 0, 30%);
// 滚动条轨道颜色，不能是带透明度，否则纵向滚动时，横向滚动条会穿透
$--sb-scroll-track-color: #fff;

// 动画
$--sb-anim-time-fn-easing: cubic-bezier(0.38, 0, 0.24, 1);
$--sb-anim-time-fn-ease-out: cubic-bezier(0, 0, 0.15, 1);
$--sb-anim-time-fn-ease-in: cubic-bezier(0.82, 0, 1, 0.9);
$--sb-anim-duration-base: 0.2s;
$--sb-anim-duration-moderate: 0.24s;
$--sb-anim-duration-slow: 0.28s;

// 统一管理各组件层级关系
$--sb-z-index-back-top: 300;
$--sb-z-index-affix: 500;
$--sb-z-index-drawer: 1500;
$--sb-z-index-dialog: 2500;
$--sb-z-index-image-viewer: 3000;
$--sb-z-index-loading: 3500;
$--sb-z-index-message: 5000;
$--sb-z-index-Popup: 5500;
$--sb-z-index-Tooltip: 5600;
$--sb-z-index-Notification: 6000;
$--sb-z-index-dragging: 6500;
$--sb-z-index-guide: 999999;

// 文字
$--sb-font-body-large: 16px / 24px PingFang SC, Microsoft YaHei, Arial Regular;
$--sb-font-body-medium: 14px / 22px PingFang SC, Microsoft YaHei, Arial Regular;
$--sb-font-body-small: 12px / 20px PingFang SC, Microsoft YaHei, Arial Regular;

// Border Radius
$--sb-border-radius-small: 2px; // 圆角-2
$--sb-border-radius-default: 3px; // 圆角-3
$--sb-border-radius-medium: 6px; // 圆角-6
$--sb-border-radius-large: 9px; // 圆角-9
$--sb-border-radius-extraLarge: 12px; // 圆角-12
$--sb-border-radius-round: 999px; // 圆角-999
$--sb-border-radius-circle: 50%; // 圆角-全圆角

// input select input-number
$--sb-input-height-default: 40px;
$--sb-input-height-large: 40px;
$--sb-input-height-medium: 36px;
$--sb-input-height-small: 32px;
$--sb-input-height-mini: 24px;

// notification
$--sb-notification-width: 400px;
$--sb-notification-padding: var(--sb-size-6);
$--sb-notification-border-radius: var(--sb-radius-default);
$--sb-notification-padding-LR-m: var(--sb-size-6);
$--sb-notification-padding-TB-m: var(--sb-size-6);
$--sb-notification-padding-LR-l: var(--sb-size-8);
$--sb-notification-padding-TB-l: var(--sb-size-8);
$--sb-notification-bg-color: var(--sb-white-color);
$--sb-notification-box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.08), 
                              0px 16px 24px 2px rgba(0,0,0,0.04),
                              0px 6px 30px 5px rgba(0,0,0,0.05);