@import "../common/bem.scss";
@import "../common/mixins.scss";

@include block(message-list) {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@include block(message) {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 14px 16px;
  border-radius: 6px;
  background: #FFFFFF;
  border: 0.5px solid rgba(220,220,220,1);
  color: rgba(0, 0, 0, 0.9);
  font: 14px / 22px PingFangSC-Regular;
  gap: 8px;
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.08),
              0px 16px 24px 2px rgba(0,0,0,0.04),
              0px 6px 30px 5px rgba(0,0,0,0.05);

  @include modifier(close-icon) {
    margin-left: 16px;
    cursor: pointer;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  @include element(icon) {
    font-size: 20px;
    
    @include when(info) {
      color: #999999;
    }
    
    @include when(success) {
      color: #00A870;
    }

    @include when(warning) {
      color: #FF7D00;
    }

    @include when(error) {
      color: #F53F3F;
    }
  }
}